.link:hover { text-decoration: underline; cursor: pointer;}
.pointer:hover {  cursor: pointer;}
#spotify-menu { width: 100%;}
#spotify-menu .menu { height: 100%; overflow-y: scroll; }

#spotify-menu .nav-pills { padding: 9px 4px;}
#spotify-card .card-img-top { border-top-left-radius:0; border-top-right-radius:0}
#spotify-card .track .start-playlist { color: #FFF;}
.spotify-color, #spotify-card .on, #spotify-card .track:hover .start-playlist, #spotify-card .fa.pointer:hover {
  color: #73D970;
}
#repeat-mode .un {
  position: relative;
  top: 6px;
  font-size: 10px;
  font-weight: bold;
}

.color-inverse { color :#FFF; background: #4f5f6f;}
.color-inverse .text-muted { color :#9ba8b5!important;}

.button-remote {width: 50px} 

.table td.small-td { width: 10px; padding: .75rem .2rem;}